body {
  background-image: url('https://images.unsplash.com/photo-1451550884791-8cc10333cc1c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=4af170a669d702a14894f5ac38d75bd2');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #444444;
}

 .nav-icon {
    position: absolute;
    top: 6vh;
    right: 5%;
    height: 29px;
    width: 35px;
    cursor: pointer;
    z-index: 999;
}

.nav-icon span {
    background: white;
    height: 5px;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-transition: .55s;
    -moz-transition: .55s;
    -o-transition: .55s;
    transition: .55s;
}

.top {
    top: 1px;
}

.middle {
    top: 11px;
}

.bottom {
    top: 21px;
}

.nav-icon.active .top {
    top: 11px;
    
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg); 
    transform: rotate(-45deg);
}

.nav-icon.active .middle {
    opacity: 0;
}

.nav-icon.active .bottom {
    top: 11px;
    
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg); 
    transform: rotate(45deg);
}

.menu {
    top: 0;
    background: #2c3e50 repeat left top;
    right: -100%;
    height: 100%;
    position: fixed;
    width: 100%;
    -webkit-transition: .55s;
    -moz-transition: .55s;
    -o-transition: .55s;
    transition: .55s;
    opacity: 0.9;
    z-index: 99;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    text-align: left;
    text-align: center;
    margin-top: 30vh;
}

.menu li:hover {
    font-weight: bold;
}

.menu a {
    color: rgb(220, 220, 220);
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 1;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    font-family: Quicksand, sans-serif;
}

.show {
    right: 0;   
}

a:hover {
    margin-left: 2.5px;
}

content {
    font-weight: lighter;
    text-align: center;
    color: white;
    font-family: Varela Round, sans-serif;
}

p {
    font-size: 20px;
    padding-left: 15%;
    padding-right: 15%;
    font-weight: bold;
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    margin-top: 40vh;
    font-family: Raleway, sans-serif;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

.ui {
    text-align: left;
    position: absolute;
    margin-top: 50vh;
    left: 0;
    width: 100%;
}

.ui a {
    margin-top: 20px;
    font-size: 170%;
    line-height: 7.5vh;
    font-family: Varela Round;
    font-weight: bold;
    color: white;
    padding-left: 5%;
}

.about {
    padding-top: 15vh;
}

.inline-a {
    font-size: inherit;
    font-weight: bold;
}

.inline-a:hover {
    margin-left: 0;
    color: grey;
}

body::-webkit-scrollbar {
    width: 0.8em;
    background-color: #95a5a6;
}

body::-webkit-scrollbar-thumb {
    background-color: #2c3e50;
    outline: 1px solid #2c3e50;
}
