body {
  background-image: url('https://images.unsplash.com/photo-1447758501994-89bb4bae35d3?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=3dc3e071213a86f6054535546abf0c55');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #444444;
}

 .button_container {
     position: fixed;
     top: 6%;
     left: 4%;
     height: 27px;
     width: 35px;
     cursor: pointer;
     z-index: 100;
     -webkit-transition: opacity .25s ease;
     transition: opacity .25s ease;
 }
 
 .button_container.active .top {
     -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
     transform: translateY(11px) translateX(0) rotate(45deg);
     background: #FFF;
 }
 
 .button_container.active .middle {
     opacity: 0;
     background: #FFF
 }
 
 .button_container.active .bottom {
     -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
     transform: translateY(-11px) translateX(0) rotate(-45deg);
     background: #FFF;
 }
 
 .button_container span {
     background: #FFF;
     border: none;
     height: 5px;
     width: 100%;
     position: absolute;
     top: 0;
     left: 0;
     -webkit-transition: all .35s ease;
     transition: all .35s ease;
     cursor: pointer;
 }
 
 .button_container span:nth-of-type(2) {
     top: 11px;
 }
 
 .button_container span:nth-of-type(3) {
     top: 22px;
 }

.menu {
    top: 0;
    background: #336699 repeat left top;
    left: -100%;
    height: 100%;
    position: fixed;
    width: 100%;
    -webkit-transition: .55s;
    -moz-transition: .55s;
    -o-transition: .55s;
    transition: .55s;
    opacity: 0.9;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    text-align: left;
    padding-left: 42.5%;
    padding-top: 15.5vh;
}

.menu a {
    color: rgb(220, 220, 220);
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    opacity: 1;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
    font-family: Quicksand, sans-serif;
}

.movezero {
    left: 0;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

.movemore {
    left: 95%;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
}

a:hover {
    font-weight: bold;
    margin-left: 2.5px;
}

content {
    font-weight: lighter;
    text-align: center;
    color: white;
    font-family: Varela Round, sans-serif;
}

.nodisplay {
    position: absolute;
    display: none;
}

p {
    font-size: 20px;
    padding-left: 300px;
    padding-right: 300px;
    font-weight: bold;
}

li {
    list-style: none;
    cursor: pointer;
}

a {
    font-weight: normal;
    color: white;
    text-decoration: none;
}

h1 {
    margin-top: 75px;
    font-family: Raleway, sans-serif;
}

.ui {
    padding-left: 40%;
    text-align: left;
    font-size: 35px;
}

.ui>li>a {
    margin-top: 20px;
    font-size: 25px;
    font-family: Varela Round;
    font-weight: bold;
}

.opacity {
    opacity: 0.1;
}

nav>ul>li>a {
    font-family: Varela Round, sans-serif;
}

.nooverflow {
    overflow: hidden;
}
