body {
    margin: 0;
    padding: 0;
}

section {
    width: 100%;
    display: table;
}

.header {
    color: white;
    background-image: url('https://static.pexels.com/photos/109243/pexels-photo-109243.jpeg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #444444;
}

.header {
    height: 100vh;
}

.about {
    color: white;
    height: 100vh;
    background: black;
}

.sites {
    color: black;
    padding-bottom: 10px;
}

.center {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

h1 {
    font-family: Dosis, sans-serif;
    font-size: 9.5vh;
    font-weight: 100;
}

p {
    font-family: Comfortaa;
    font-size: 2.5vh;
}

.about p {
    text-align: left;
}

.sites ul {
    text-align: left;
}

li {
    list-style-type: none;
    font-family: Comfortaa;
    font-size: 2.75vh;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

a {
    text-decoration: none;
    color: #e74c3c;
}

h2 {
    color: white;
    mix-blend-mode: difference;
    position: fixed;
    font-family: Comfortaa;
    letter-spacing: .75px;
    font-size: 2vh;
    right: 5vw;
    bottom: 5vh;
}

.nav-icon {
    position: fixed;
    top: 6vh;
    right: 5%;
    height: 29px;
    width: 35px;
    cursor: pointer;
    z-index: 999;
    mix-blend-mode: difference;
}

.nav-icon span {
    background: white;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-transition: .55s ease-in-out;
    -moz-transition: .55s ease-in-out;
    -o-transition: .55s ease-in-out;
    transition: .55s ease-in-out;
}

.top {
    top: 1px;
}

.middle {
    top: 11px;
}

.bottom {
    top: 21px;
}

.nav-icon.active .top {
    top: 11px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-icon.active .middle {
    opacity: 0;
    left: 35px;
}

.nav-icon.active .bottom {
    top: 11px;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.menu {
    top: -100%;
    left: 0;
    background: black repeat left top;
    height: 100%;
    position: fixed;
    width: 100%;
    opacity: 0;
    z-index: 99;
    text-align: center;
    line-height: calc(100vh/3);
    -webkit-transition: .45s ease-in-out;
    -moz-transition: .45s ease-in-out;
    -o-transition: .45s ease-in-out;
    transition: .45s ease-in-out;
}

.menu li {
    list-style-type: none;
}

.menu a {
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    color: white;
    font-size: 3.5vh;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 7px;
    letter-spacing: 0.25px;
}

.menu a:before {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    background-color: white;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.menu a:hover:before {
    left: 0;
    width: 100%;
}

.menu.active {
    opacity: 0.9;
    top: 0;
}

.github-icons {
    z-index: 9999;
    position: fixed;
    bottom: 2.5vh;
    left: 2.5%;
 }
