body {
  background-image: url('https://images.unsplash.com/photo-1430769860170-bea225f02277?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=08f156cdb367465463a2fd48eb199251');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #444444;
}

h1, p {
    text-align: center;
    color: white;
    text-align: center;
    font-family: Varela Round;
}

div {
    width: 50px;
    height: 50px;
    background-color: blue;
    position: relative;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s;
    animation-name: animation1;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    border-radius: 10px;
    font-family: Comic Sans MS;
    color: white;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: 30px;
    margin: 0 auto;
    margin-top: 150px;
    border-left: 50px solid rgb(0, 100, 255);
    border-right: 50px solid rgb(0, 100, 255);
    border-top: 50px solid rgb(0, 100, 255);
    border-bottom: 50px solid rgb(0, 100, 255);
    border-radius: 25%;
    
}

@-webkit-keyframes animation1 {
    0%   {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg); 
        transform: rotate(0deg);
        -webkit-transform: rotateY(180deg); 
        transform: rotateY(180deg);
    }
    25%  {
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg); 
        transform: rotate(90deg);
    }
    50%  {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg); 
        transform: rotate(180deg);
    }
    75%  {
        -ms-transform: rotate(270deg);
        -webkit-transform: rotate(270deg); 
        transform: rotate(270deg);       
    }
    100% {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg); 
        transform: rotate(360deg);  
        -webkit-transform: rotateY(0deg); 
        transform: rotateY(0deg);
    }
    
}
