body {
    background-color: black;
}

.center {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    text-align: center;
    font-family: Comfortaa;
    font-weight: 100;
    font-size: 50px;
    color: white;
}

.total {
    height: 25px;
    width: 366px;
    background: white;
    padding: 2px 2px 2px 2px;
}

.completion {
    height: 25px;
    width: 200px;
    background: black;
}
