/*Adapted from a tutorial*/

body {
    background: white;
}

a {
    position: relative;
    color: black;
    text-decoration: none;
    background-color: white;
    font-family: 'Comfortaa';
    font-weight: 100;
    font-size: 3em;
    display: block;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 9px 0px rgba(145, 145, 145, 1), 0px 9px 25px rgba(0, 0, 0, .7);
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 260px;
    text-align: center;
    -webkit-transition: all .1s ease;
    -moz-transition: all .1s ease;
    transition: all .1s ease;
}

a:active {
    box-shadow: 0px 3px 0px rgba(145, 145, 145, 1), 0px 3px 6px rgba(0, 0, 0, .9);
    position: relative;
    margin-top: 6px;
}
