body {
  background-image: url('https://images.unsplash.com/photo-1430812566664-41732adc0788?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=a3307e00a8a243f8b3144408728a67f3');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #444444;
}

div {
    width: 100px;
    height: 100px;
    background-color: blue;
    position: relative;
    -webkit-animation-name: example;
    -webkit-animation-duration: 4s;
    animation-name: animation1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: ; /* Try changing to alternate */
    border-radius: 10px;
    font-family: Comic Sans MS;
    color: white;
    text-align: center;
    line-height: 100px;
    font-weight: bold;
    font-size: 30px;
}

@-webkit-keyframes animation1 {
    0%   {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg); 
        transform: rotate(0deg);
        left:20px; 
        top:20px;
    }
    25%  {
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg); 
        transform: rotate(90deg);
        left:90%;
        top:20px;
    }
    50%  {
        -ms-transform: rotate(180deg);
        -webkit-transform: rotate(180deg); 
        transform: rotate(180deg);
        left:90%;
        top:80vh;
    }
    75%  {
        -ms-transform: rotate(90deg);
        -webkit-transform: rotate(90deg); 
        transform: rotate(90deg);       
        left:20px;
        top:80vh;
    }
    100% {
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg); 
        transform: rotate(0deg);        
        left:20px;
        top:20px;
    }
    
}
