body {
     background-image: url('http://img09.deviantart.net/a16c/i/2014/106/0/e/taj_gibson__posterized_series__wallpaper_by_ammsdesings-d7eqkbs.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #444444;
}

h1 {
    font-family: Luckiest Guy;
    color: white;
    font-weight: 100;
    font-size: 9.5vh;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent black;
}
