.red-circle {
    background: #c0392b;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.white-circle {
    background: #c0392b;
    height: 75px;
    width: 75px;
    border-radius: 50%;
    position: absolute;
    transform: translate(50px, 50px);
    border: 15px solid white;
}

.white-line {
    height: 100px;
    width: 15px;
    background: white;
    position: absolute;
    left: 50px
}
