body {
  background: black;
}

.center {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    border: 2.5px solid white;
    padding: 15px 55px;
    background: none;
    font-family: Quicksand;
    color: white;
    font-size: 17.5px;
    cursor: pointer;
    outline: none;
    -webkit-transition: .55s;
    -moz-transition: .55s;
    -o-transition: .55s;
    transition: .55s;
}

button:hover {
    padding: 15px 65px;
}

#clicks {
    color: white;
    font-family: Quicksand;
    text-align: center;
    font-size: calc(5px + 5vh);
    margin-top: 5vh;
}
