div {
  width: 90%;
  height: 70vh;
  position: absolute;
  top: 20vh;
  left: 5%;
  border: 2.5px solid grey;
  cursor: crosshair;
}

h1 {
  font-family: "Montserrat";
  font-size: 5vh;
  text-align: center;
}

p {
  font-family: Quicksand;
  font-size: 3vh;
  text-align: center;
}
