canvas {
    position: absolute;
    top: 0;
    left: 0;
    cursor: crosshair;
    background-image: url('https://images.unsplash.com/photo-1445233566136-a2a4e2c38bc2?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=bb3281f7d8792d6a62e20498958f4eb0');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #444444;
}
