.strap {
    background: #e74c3c;
    height: 500px;
    width: 75px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
}

.left {
    transform: rotate(45deg) translate(0, -225px);
}

.right {
    transform: rotate(-45deg) translate(0, -225px);
}

.gold-medal {
    position: absolute;
    background: #f1c40f;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    transform: translate(746px, 190px);
}

img {
    position: absolute;
    height: 50px;
    width: 100px;
    -webkit-filter: grayscale(100%);
    transform: translate(25px, 50px);
}
