body {
    background-image: url('https://hd.unsplash.com/photo-1465420961937-e0eba4dda519');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    text-align: center;
}

img {
    width: 30vh;
    height: 30vh;
    
    margin-top: 42.5vh;
    
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 0.5s;
    animation-name: animation1;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

@-webkit-keyframes animation1 {
    0%   {
        -ms-transform: scale(1, 1); 
        -webkit-transform: scale(1, 1); 
        transform: scale(1, 1);
    }
    
    50% {
        -ms-transform: scale(1.25, 1.25); 
        -webkit-transform: scale(1.25, 1.25); 
        transform: scale(1.25, 1.25);
    }
    
    100%   {
        -ms-transform: scale(1, 1); 
        -webkit-transform: scale(1, 1); 
        transform: scale(1, 1);
    }
}
