body {
    background-color: #2980b9;
}

.ground {
    position: absolute;
    top: calc(100vh*2/3);
    left: 0;
    width: 100%;
    height: calc(100vh/3);
    background: #27ae60;
}

.sun {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: #f39c12;
    position: absolute;
    top: -125px;
    left: -125px;
}

h1 {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Comfortaa;
    font-weight: 100;
    color: white;
}
