body {
    background-color: black;
    text-align: center;
}

h1 {
    font-family: Comfortaa;
    color: white;
    font-size: 50px;
    font-weight: 100;
}

div {
    width: 40px;
    height: 40px;
    background: none;
    border: 2.5px solid white;
    opacity: 0.1;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    -webkit-transition: .55s;
    -moz-transition: .55s;
    -o-transition: .55s;
    transition: .55s;
}

wrapper {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

div.active {
    background: white;
}
