body {
    background: white;
}

.nav-icon {
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 29px;
    width: 35px;
    cursor: pointer;
    z-index: 999;
}

.nav-icon span {
    background: black;
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    -webkit-transition: .55s ease-in-out;
    -moz-transition: .55s ease-in-out;
    -o-transition: .55s ease-in-out;
    transition: .55s ease-in-out;
}

.top {
    top: 1px;
}

.middle {
    top: 11px;
}

.bottom {
    top: 21px;
}

.nav-icon.active .top {
    top: 11px;
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.nav-icon.active .middle {
    left: -100%;
    opacity: 0;
}

.nav-icon.active .bottom {
    top: 11px;
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}
