.olympics {
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ring {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: inline-block;
}

.blue {
    border: 10px solid #2980b9;
}

.black {
    border: 10px solid #2c3e50;
}

.red {
    border: 10px solid #c0392b;
}

.yellow {
    border: 10px solid #f1c40f;
    position: absolute;
    transform: translate(60.5px, -62.5px);
}

.green {
    border: 10px solid #27ae60;
    position: absolute;
    transform: translate(185.5px, -62.5px);
}

h1 {
    text-align: center;
    margin-top: 75px;
    font-family: Comfortaa;
    font-weight: 200;
    
}
