body {
    background: #2ecc71;
}

.pokeball  {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: rgb(15, 15, 15);
    
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

.half {
    position: absolute;
    width: 255px;
    height: calc(255px/2);
}

.red {
    background: rgb(255, 15, 15);
    border-radius: 255px 255px 0 0;
    transform: translate(calc(45px/2), calc(45px/2));
}

.white {
    background: rgb(240, 240, 240);
    border-radius: 0 0 255px 255px;
    transform: translate(calc(45px/2), calc(45px/2 + calc(255px/2)));
}

.black-band {
    position: absolute;
    width: 285px;
    height: 25px;
    background: rgb(15, 15, 15);
    transform: translate(calc(15px/2), calc(300px/2 - 12.5px));
    z-index: 99
}

.center-button {
    position: absolute;
    height: 75px;
    width: 75px;
    background: rgb(15, 15, 15);
    border-radius: 50%; 
    transform: translate(calc(210px/2), calc(-225px/2 - calc(-170px/2)));
}

.white-button {
    position: absolute;
    height: 55px;
    width: 55px;
    background: rgb(240, 240, 240);
    border-radius: 50%; 
    transform: translate(10px, 10px);
    
    -webkit-animation-name: blink;
    animation-name: blink;
    -webkit-animation-duration: 1s;
    animation-duration: 1.25s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
}

@-webkit-keyframes blink {
    0% {
        background: rgb(240, 240, 240);
    }
    
    50% {
        background: rgb(255, 15, 15);
    }
    
    100% {
        background: rgb(240, 240, 240);
    }
}

@keyframes fadeIn {
    0% {
        background: rgb(240, 240, 240);
    }
    
    50% {
        background: rgb(255, 15, 15);
    }
    
    100% {
        background: rgb(240, 240, 240);
    }
}
