body {
  background-image: url('https://images.unsplash.com/photo-1452800185063-6db5e12b8e2e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=2700f9770386e4c5ebc53502a9099966');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #444444;
}

button {
    outline: 0;
}

.btn {
    padding: 25px 75px;
    display: block;
    margin: 0 auto;
    text-align: center;
    border: white solid 3px;
    background: none;
    color: white;
    font-family: Quicksand;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20vh;
    font-weight: 500;
    border-radius: 25px;
    -webkit-transition: 1s;
    transition: 1s;
    cursor: pointer
}

.btn:hover {
    background: white;
    color: black;
}

#clicks {
    color: white;
    font-family: Varela Round;
    text-align: center;
    font-size: 50px;
    margin-top: 15vh;
}
