#canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    cursor: pointer;
}

h1 {
    color: white;
    font-family: Quicksand;
    text-align: center;
    position: absolute;
    left: 0;
    top: 45vh;
    text-align: center;
    width: 100%;
}
