body {
    background-image: url('https://images.unsplash.com/photo-1462523049202-cbeaaa220c00?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=228415e390d001cc6c5e3723c785c049');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #444444;
}

button {
    border: 2.5px solid white;
    padding: 12.5px 45px;
    background: none;
    font-family: Quicksand;
    color: white;
    font-size: 17.5px;
    cursor: pointer;
    outline: none;
    -webkit-transition: .55s;
    -moz-transition: .55s;
    -o-transition: .55s;
    transition: .55s;
}
