@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Quicksand);

body {
  background-image: url('https://images.unsplash.com/photo-1451550884791-8cc10333cc1c?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=4af170a669d702a14894f5ac38d75bd2');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #444444;
}

h1 {
    font-weight: lighter;
    text-align: center;
    color: white;
    font-family: Quicksand;
}

p {
    text-align: center;
    color: white;
    font-family: Varela Round;
    font-size: 17.5px;
    padding-left: 25%;
    padding-right: 25%;
    line-height: 25px;
}

a {
    color: white;
    font-family: Varela Round; 
    text-decoration: none;
}
